<div
    class="px-2 bg-gradient-to-b from-chrome-900 via-chrome-900 to-black"
    x-data="{
        jobs: [
            { title: 'Fullstack Laravel Contractor (owner)', company: 'Polarize Technologies Inc.', skills: 'Laravel, Livewire/AlpineJS, InertiaJS, Vue, React, TypeScript, TailwindCSS', clients: [{name: 'Transistor.fm', href: 'https://transistor.fm'}, {name: 'EmailOctopus.com', href: 'https://emailoctopus.com'}, {name: 'New England Patriots', href: 'https://www.patriots.com'}]},
            { title: 'Senior Fullstack Laravel Developer', company: 'ScholarPath', skills: 'Laravel, Livewire/AlpineJS, TailwindCSS'},
            { title: 'Head of Product', company: 'Userfeed by AdReform', skills: 'Marketing (Video/Social), Sales, Support, Ruby on Rails'},
            { title: 'Frontend Developer', company: 'Glass Canvas', skills: 'React, Bootstrap CSS, Ruby on Rails, Google APIs'},
            { title: 'Fullstack PHP & Digital Marketing', company: 'PraiseCharts', skills: 'PHP, MySQL, WordPress, Silverstripe, AWS'},
            { title: 'Fullstack PHP Developer', company: 'Tryten', skills: 'Magento, Custom, Developer and Digital Marketer'},
            { title: 'WordPress Developer', company: 'Dazil', skills: 'WordPress, Bootstrap CSS'},
            { title: 'Podcast & Video Production (owner)', company: 'Podmelon & Videomelon', skills: 'Podcast Production, Video Production, Graphic/Video FX', clients: [{name: 'The Good'}, {name: 'Made With Grit'}, {name: 'Building Astropad'}, {name: 'Failory Podcast'}]},
            { title: 'Fullstack PHP Contractor (owner)', company: 'Joshua Anderton Design', skills: 'WordPress, PHP, MySQL, Magento', clients: [{name: 'Pinnacle Hotels'}, {name: 'Bazinga!'}, {name: 'Shirmar Construction'}, {name: 'Plazus'}]},
        ],
        projects: [
            { title: 'Salestream.app', description: 'Real-time sales and support via livestream', stack: 'Laravel, InertiaJS, TailwindCSS', href: 'https://salestream.app'},
            { title: 'Meeps', description: 'Modern Membership Software', stack: 'Laravel, TailwindCSS, Livewire/AlpineJS', href: 'https://meeps.app', cofounder: 'mijustin'},
            { title: 'ProgBar by Meeps', description: 'Share your goals and progress', stack: 'Laravel, TailwindCSS, Livewire/AlpineJS', href: 'https://progbar.co', cofounder: 'mijustin'},
            { title: 'Upscribe', description: 'Simple email marketing', stack: 'Laravel, TailwindCSS, Livewire/AlpineJS', href: 'https://upscribe.com', cofounder: null, sold: 2020, retired: null},
            { title: 'Billingly', description: 'Dunning emails & SMS', stack: 'Laravel, TailwindCSS, Livewire/AlpineJS', href: 'https://billingly.com', cofounder: null, sold: 2019, retired: null},
            { title: 'Tiers', description: 'Pricing page builder and A/B testing for SaaS', stack: 'Laravel, TailwindCSS, Livewire/AlpineJS', href: null, cofounder: null, sold: null, retired: 2019},
            { title: 'Kids Learning App', description: 'Coloring IOS app for kids', stack: 'IOS App', href: null},
            { title: '“Smelly Math” Kids Math Game', description: 'Kids math game and equation generator', stack: 'IOS App', href: null},
        ]
    }"
>

    <div class="fixed left-0 top-0 z-[100000] w-full h-[100vh] pointer-events-none">
        <div class="absolute w-full h-full left-0 top-0 z-10 pointer-events-none" :style="{
            backgroundImage: 'url(\'/assets/noise.png\')',
            backgroundPosition: '50% center',
            backgroundSize: '10% 10%'
        }"></div>
    </div>

    <div class="px-4 sm:px-6 lg:px-8 w-full max-w-7xl mx-auto">
        <div class="max-w-3xl mx-auto">

            <div>
                <div class="border-b-2 border-chrome-800 sm:border-none flex sm:block relative group py-6 sm:pt-0">

                    <div
                        class="hidden sm:block absolute inset-0 sm:relative z-0 max-w-full sm:max-w-[50%] overflow-hidden">
                        <div class="absolute z-10 h-full w-full block inset-0 bg-gradient-to-t sm:bg-gradient-to-l opacity-60 from-theme-900"></div>
                        <div
                            class="h-0 pb-[150%] sm:rounded-bl-[4rem] -ml-12 -mt-12 sm:mt-0 sm:ml-0 bg-cover"
                            style="background-image: url('/assets/headshot.png')"></div>
                    </div>

                    <div class="opacity-40 hidden sm:block absolute top-[80%] right-0 max-w-[50%] overflow-hidden">
                        <div class="absolute z-10 h-full w-full block inset-0 bg-gradient-to-t from-chrome-900 via-chrome-900"></div>
                        <img src="/assets/headshot.png" class="grayscale transition-all rotate-180 opacity-80 sm:rounded-bl-[4rem]" />
                    </div>

                    <div
                        class="mr-6 min-w-0 flex-shrink-0 w-40 h-40 rounded-lg sm:hidden"
                        style="background-image: url('/assets/headshot.png'); background-size: 180%; background-position: -69px -10px"></div>

                    <div class="max-w-sm sm:max-w-full sm:absolute relative z-10 sm:top-24 sm:left-1/2 sm:-ml-24 sm:pr-12 mt-8 sm:mt-0">
                        <h1 class="sm:flex sm:flex-col sm:space-y-1.5 font-bold text-3xl sm:text-5xl md:text-6xl text-theme-200">
                            <div>Fullstack </div>
                            <div>Developer </div>
                            <div class="whitespace-nowrap grayscale">in Vancouver 🇨🇦</div>
                        </h1>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="mt-8 sm:mt-0 relative px-4 sm:px-6 lg:px-8 w-full max-w-7xl mx-auto">
        <div class="max-w-3xl mx-auto">
            <div class="relative z-20 prose prose-lg prose-invert text-chrome-300">
                
                <h2 class="font-medium !mt-0">Teams I've worked with...</h2>

                <ul class="!pl-[.7em] !space-y-7">
                    <template x-for="job in jobs">
                    <li :key="job.title" class="space-y-2">
                        <div class="leading-none text-lg" x-text="job.title"></div>
                        <div class="relative text-xs -mx-1 flex flex-wrap">
                            <template x-for="skill in job.skills.split(',')">
                            <span
                                class="text-[.6rem] tracking-wide rounded bg-chrome-800 font-mono text-theme-400 lowercase font-medium m-1 px-1 py-0"
                                x-text="skill.trim()"></span>
                            </template> 
                        </div>
                        <div class="text-base">
                            <span class="mr-1">at</span>
                            <span class="font-medium text-white" x-text="job.company"></span>
                        </div>
                    </li>
                    </template>
                </ul>

                <h2 class="font-medium">Projects I've worked on...</h2>

                <ul class="!pl-[.75em] !space-y-7">
                    <template x-for="project in projects">
                    <li :key="project.title" class="space-y-2">

                        <a x-show="project.href || false" target="_blank" :href="project.href" class="leading-none group font-medium no-underline">
                            <span class="text-white text-lg group-hover:text-theme-400 transition-colors duration-300 leading-none" x-text="project.title"></span>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-3 h-3 text-theme-800 transition-colors duration-300 group-hover:text-theme-400 inline relative -right-1 -top-1"
                            >
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                            </svg>
                        </a>
                        <span x-show="!(project.href || false)" class="text-white text-lg leading-none" x-text="project.title"></span>

                        <div class="!mt-1 leading-none text-base" x-text="project.description"></div>

                        <div class="relative text-xs -mx-1 flex flex-wrap">
                            <template x-for="skill in project.stack.split(',')">
                            <span
                                class="rounded bg-chrome-800 font-mono text-theme-400 lowercase font-medium m-1 px-1 py-0.5"
                                x-text="skill.trim()"></span>
                            </template>
                        </div>

                        <div x-show="project.sold || project.retired || project.cofounder" class="mt-2 font-bold text-chrome-600 text-xs">
                            <div x-show="project.cofounder">
                                Partnered with <a class="font-bold text-inherit hover:no-underline" target="_blank" :href="`https://twitter.com/${project.cofounder}`" x-text="`@${project.cofounder}`"></a>
                            </div>
                            <span x-show="project.sold" x-text="`Sold in ${project.sold}`"></span>
                            <span x-show="project.retired" x-text="`Retired in ${project.retired}`"></span>
                        </div>
                        
                    </li>
                    </template>

                </ul>

            </div>
        </div>
    </div>

    <div class="py-12 px-4 sm:px-6 lg:px-8 w-full max-w-7xl mx-auto">
        <div class="max-w-3xl mx-auto">
            <div class="bg-chrome-900 rounded-2xl px-6 py-5 md:-mx-6 flex flex-col md:items-center md:flex-row space-y-3 md:space-y-0 md:space-x-8">
                <h4 class="font-medium text-lg text-white">Places you can find me:</h4>
                <a target="_blank" class="text-chrome-500 hover:text-chrome-50" href="https://twitter.com/joshuaanderton">Twitter</a>
                <a target="_blank" class="text-chrome-500 hover:text-chrome-50" href="https://www.linkedin.com/in/joshuaanderton">LinkedIn</a>
                <a target="_blank" class="text-chrome-500 hover:text-chrome-50" href="https://www.ramen.fm">Podcast</a>
            </div>
        </div>
    </div>
    
</div>