<div class="fixed top-0 left-0 h-screen w-screen overflow-scroll z-[100] bg-[#000] p-10">
  <img class="max-w-full h-auto absolute -right-14 -top-12" width="500" height="500" src="/images/spiderman/green-goblin-pumkins.png" />

  <h1 class="text-white font-mono text-4xl font-bold">Fintry A</h1>
  <div class="relative cursor-pointer" x-data @click="$el.classList.toggle('animate-spin')"> <!-- theme.extend.animation: {'spin-fast': 'spin .5s linear infinite'} -->
    <img class="max-w-full h-auto max-h-full mx-auto" src="/images/spiderman/spiderman.png" />
    <img class="max-w-full h-auto absolute left-20 bottom-40" width="500" height="500" src="/images/spiderman/gibson-sg.png" />
  </div>

</div>
