<section class="site-container">
  <div class="relative flex items-center py-12 space-x-6">
    <img class="rounded-full h-[200px] max-h-full bg-gradient-to-br from-theme-600/10 to-theme-600/70" src="/assets/headshot-square.png" />
    <h1 class="relative z-10 sm:flex sm:flex-col sm:space-y-1.5 font-bold text-3xl sm:text-5xl md:text-6xl text-theme-200">
      <div>Fullstack </div>
      <div>Developer </div>
      <div class="whitespace-nowrap grayscale">in Vancouver</div>
    </h1>
  </div>
</section>